[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dCUR"]
	path = dCUR
	url = https://github.com/cgamboasanabria/dcur
[submodule "popstudy"]
	path = popstudy
	url = https://github.com/cgamboasanabria/popstudy
